

hr
{background-color: #EAF6F6;}


hr
{
      background-color: #14171a;
      border-style: none;
      border-top-style: dotted;
      border-color: #14171a;
      border-width: 5px;
      width:5%;
}
